In [ ]:
print(5 + 5)
print(9 - 4)

10
5

In [ ]:
print("my age is:" + "40")
print("my age is:", 40)

my age is:40
my age is: 40

In [ ]:
x = 5
# shifting a number to the left by 1 bit is equivalent to multiplying it by 2 (only applicable to binary system)
# shifting a number to the left by 2 bits is equivalent to multiplying it by 4
# shifting a number to the left by 3 bits is equivalent to multiplying it by 8
# as for the decimal system, shifting a number to the left by 1 bit is equivalent to multiplying it by 10 (the base of the decimal system)
# shifting a number to the left by 2 bits in the decimal system is equivalent to multiplying it by 100
y = x << 10
print(y)

5120

In [4]:
name = input("Enter your name: ")

In [5]:
name

'Naif'

In [ ]:
print("welcome", name, "to the world of programming")

welcome Naif to the world of programming

In [ ]:
password = input("Enter password: ")
if password == "DS":
    print("welcome to the course")
else:
    print("wrong password")

wrong password

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Welcome", first_name, last_name, "to the world of programming")

Welcome Naif Ajeeb to the world of programming
Welcome Naif Ajeeb to the world of programming

In [13]:
type(10)

int

In [14]:
type(10.5)

float

In [12]:
type("ALice")

str

In [ ]:
x = 1
x = "hello"
x = [1, 2, 3]
type(x)

list

In [18]:
type(3.14)

float

In [19]:
type("5" + "5")

str

In [20]:
type(9 > 5)

bool

In [ ]:
type(10 + 5)

int

In [22]:
type("Alive" + "Bob")

str

In [23]:
type(True)

bool

In [24]:
x = 20
y = "20"

print(x, type(x))
print(y, type(y))
print(x + y)

20 <class 'int'>
20 <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
z = int(y)
print(z, type(z))
print(x + z)

20 <class 'int'>
40

In [28]:
width = input("enter the width: ")
height = input("enter the height: ")
area = int(width) * int(height)
print(area)

1

In [ ]:
age = input("how old are you? i'll remind you of something!")
print("you'll be", int(age) + 20, "after 20 years, you're old")

you'll be 21 after 20 years, you're old

In [30]:
x2 = 35.0
y = 12.50
mne = x2 * y
print(mne)

437.5

In [31]:
x = 10
y = 20

In [ ]:
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

In [ ]:
print(3 + 2 * 1203921)
print((82 + 12) / 219)
print((322 ^ 2 * 33) - 35)

2407845
0.4292237442922374
221

In [ ]:
n1 = int(input("enter the first number "))
n2 = int(input("enter the second number "))
print(
    f"addition:\n{sum([n1,n2])}\nsubtraction:\n{n1 - n2}\nproduct:\n{n1 * n2}\ndivision:\n{n1 / n2}\nremainder:\n{n1 % n2}"
)

addition:
7
subtraction:
3
product:
10
division:
2.5
remainder:
1

In [48]:
first_name = "John"
name = "john doe"
last_name = "DeprecationWarning"
address = "Riyadh, Saudi Arabia"
phone = "00966555555555"

message = """Hello everyone,
i hope you are enjoying the course,

thank you.
"""

In [49]:
name

'john doe'

In [ ]:
import math

radius = int(input("write the radius of a circle for its area: "))
print(
    f"if a circle's radius is {radius} then the area is:\n{math.pi * math.pow(radius, 2):.2f}"
)

if a circle's radius is 20 then the area is:
1256.64

In [ ]:
print(len([1, 2, 3, 4]))

4

In [ ]:
msg = """this is a long message, it can have "double quotes", a 'single quote' and multiple quotes. pretty cool, right?"""
print(len(msg))

110

In [47]:
s = "Salam" * 3
print(s)

SalamSalamSalam

In [51]:
zeros = "0" * 8
print("1" + zeros)

100000000

In [50]:
print(len(phone))
print(len(message))

14
64

In [52]:
vowels = "aeiou"
print("a" in vowels)

True

In [53]:
"hello".upper()

'HELLO'

In [54]:
"HELLO".lower()

'hello'

In [55]:
print(name.capitalize())

John doe

In [56]:
print(name.title())

John Doe

In [58]:
print(name.islower())
print(name.isupper())
print((name.upper()).isupper())

True
False
True

In [ ]:
print(name.count("o"))

2

In [ ]:
print(name.count("h"))

1

In [ ]:
print(name.find("ohn"))

1

In [65]:
print(name.replace("john doe", "Owen"))

Owen

In [ ]:
print("hello,world".split(","))

['hello', 'world']

In [ ]:
" Null ".join("1111")

'1 Null 1 Null 1 Null 1'

In [ ]:
",".join(["first", "second", "last"])

'first,second,last'

In [ ]:
print(
    "                                                              e          y  ".strip()
)

e          y

In [ ]:
print((name.center(102)).strip())

john doe

In [83]:
print(format(1234, "08d"))

00001234

In [ ]:
print(name.startswith("j"))
print(name.endswith("e"))

True
True

In [ ]:
name = "naif"
width = 20
decorator = "*"
print(decorator * width)
print(name.center(width, decorator))
print(decorator * width)

********************
********naif********
********************

In [ ]:
# just for fun:

name = name.upper()
decorator = "#"
width = 30
print(f"{decorator * width}\n{name.center(width, decorator)}\n{decorator * width}")b

##############################
#############NAIF#############
##############################

In [94]:
name = "Pythonista"
print(name[2:])

thonista

In [97]:
print(name[0])
print(name[-1])
print(name[9])
print(name[-1])

P
a
a
a

In [101]:
# this is actually dope, the third number in the slicing is actually is a step count:
print(name[1:6:1])
print(name[1:6:2])
# print last 4 chars:
print(name[-4:])

ython
yhn
ista

In [113]:
# just for fun:

string = "y o u   c a n   r e a d   t h i s ."
print(string[::2])
print(string[1:3:2])
print(string[4:7:2])

you can read this.

u

In [124]:
print((string[::-1])[::2])
print(name[1::2])
print(name[1::2].upper())
print((name[1::2])[::-1].upper())

.siht daer nac uoy
yhnsa
YHNSA
ASNHY

In [ ]:
name = "John"
age = 30
print("My name is " + name + " and my age is " + str(age))
print("My name is " + name + " and my age is " + str(age))
print("My name is {} and my age is {}".format(name, age))
print(f"My name is {name} and my age is {age}")

My name is John and my age is 30
My name is John and my age is 30
My name is John and my age is 30
My name is John and my age is 30

In [129]:
num = 10.5679
print(num)

10.5679

In [132]:
print("{:.2f}".format(num))

10.57

In [133]:
print(f"{num:.2f}")

10.57

In [134]:
print(f"{num:>10.2f}")

     10.57

In [135]:
big_num = 1000000000
print(f"{big_num:,}")

1,000,000,000

In [ ]:
percent = 0.235
print(f"${percent:>2f}")

$0.235000

In [ ]:
a = [[1, 2], [3, 4]]
b = a.copy()
a[0][0] = 999
print(a)
print(b)

[[999, 2], [3, 4]]
[[999, 2], [3, 4]]

In [ ]:
import copy

a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)
a[0][0] = 999
print(a)
print(b)

[[999, 2], [3, 4]]
[[1, 2], [3, 4]]

In [ ]:
# create list of names:
names = ["Alice", "Bob", "Charlie"]
# print the three first letters of each name:
for x in names:
    print(x[:3])
# create a shallow copy and a deep copy of the list:
shallow = names.copy()
# shallow copies still act like deep copies in lists of string.

# still i'm going to do the deep copy anyways.
deep = copy.deepcopy(names)

# changes:
shallow[0] = "alissa"
deep[0] = "allissas"

# display:
print(names)
print(shallow)
print(deep)

Ali
Bob
Cha
['Alice', 'Bob', 'Charlie']
['alissa', 'Bob', 'Charlie']
['allissas', 'Bob', 'Charlie']

In [148]:
fruits = ["Apple", "Banana", "Orange", "Lemon"]

first_element = fruits[0]
first_element

'Apple'

In [149]:
last_element = fruits[-1]
last_element

'Lemon'

In [ ]:
HeterogeniousList = ["abc", 123, "IIIIII", ["that was the roman numerals"]]
HeterogeniousList.append("append")
HeterogeniousList.copy()
HeterogeniousList.count("a")
HeterogeniousList.extend(fruits)
HeterogeniousList.index("Apple")
HeterogeniousList.insert(
    HeterogeniousList.index("Apple"), "let's remove this and beyond"
)
HeterogeniousList.pop(HeterogeniousList.index("let's remove this and beyond"))
HeterogeniousList.remove("abc")
HeterogeniousList.reverse()
# HeterogeniousList.sort() # sort hates heterogenious lists...
HeterogeniousList.clear()  # not now.